a,
button {
	&:hover {
		transition: background-color .3s ease-in-out;
	}
}

.page {
  display: block;
  margin: 0 auto;
  max-width: 118rem;  
  width: 100%;

  &--medium {
    max-width: 114rem;
  }

  &--small {
    max-width: 100rem;
  }
}

img {
  display: block;
}