@import "../preon/config/color";

.c-hamburger {
    width: 3.8rem;

    &__line {
        background-color: map-get($colors, 'grey');
        display: block;
        height: .5rem;
        width: 100%;
    }

    &__line + &__line {
        margin-top: 1rem;
    }
}