@import "../preon/config/color";

.c-hamburger {
    $hamburger-height: .3rem;
    $hamburger-width: 2.5rem;
    $hamburger-gap: .5rem;

    cursor: pointer;
    width: $hamburger-width;

    &__line {
        background-color: map-get($colors, 'blue');
        display: block;
        height: $hamburger-height;
        width: 100%;
    }

    &__line + &__line {
        margin-top: $hamburger-gap;
    }
}