// https://github.com/ryanve/flexboxes

@mixin flex-grid ($suffix: '') {
    .flex-row#{$suffix} { flex-direction: row }
    .flex-row-reverse#{$suffix} { flex-direction: row-reverse }
    .flex-column#{$suffix} { flex-direction: column }
    .flex-column-reverse#{$suffix} { flex-direction: column-reverse }

    .flex-wrap#{$suffix} { flex-wrap: wrap }
    .flex-nowrap#{$suffix} { flex-wrap: nowrap }
    .flex-wrap-reverse#{$suffix} { flex-wrap: wrap-reverse }

    .order-before#{$suffix} { order: -1 }
    .order-after#{$suffix} { order: 1 }

    .items-start#{$suffix} { align-items: flex-start }
    .items-end#{$suffix} { align-items: flex-end }
    .items-center#{$suffix} { align-items: center }
    .items-baseline#{$suffix} { align-items: baseline }
    .items-stretch#{$suffix} { align-items: stretch }

    .self-center#{$suffix} { align-self: center }
    .self-baseline#{$suffix} { align-self: baseline }
    .self-stretch#{$suffix} { align-self: stretch }
    .self-start#{$suffix} { align-self: flex-start }
    .self-end#{$suffix} { align-self: flex-end }

    .justify-start#{$suffix} { justify-content: flex-start }
    .justify-end#{$suffix} { justify-content: flex-end }
    .justify-center#{$suffix} { justify-content: center }
    .justify-between#{$suffix} { justify-content: space-between }
    .justify-around#{$suffix} { justify-content: space-around }
    .justify-stretch#{$suffix} { justify-content: stretch }

    .content-start#{$suffix} { align-content: flex-start }
    .content-end#{$suffix} { align-content: flex-end }
    .content-center#{$suffix} { align-content: center }
    .content-between#{$suffix} { align-content: space-between }
    .content-around#{$suffix} { align-content: space-around }
    .content-stretch#{$suffix} { align-content: stretch }

    .flex-min#{$suffix} { min-height: 0; min-width: 0 }
    .flex-max#{$suffix} { max-height: 100%; max-width: 100% }

    .grow-0#{$suffix} { flex-grow: 0 }

    .shrink-0#{$suffix} { flex-shrink: 0 }

    .basis-0#{$suffix} { flex-basis: 0% }
    .basis-1#{$suffix} { flex-basis: 8.333333333% }
    .basis-2#{$suffix} { flex-basis: 16.6666666666% }
    .basis-3#{$suffix} { flex-basis: 25% }
    .basis-4#{$suffix} { flex-basis: 33.3333333333% }
    .basis-5#{$suffix} { flex-basis: 41.6666666666% }
    .basis-6#{$suffix} { flex-basis: 50% }
    .basis-7#{$suffix} { flex-basis: 58.333333333% }
    .basis-8#{$suffix} { flex-basis: 66.6666666666% }
    .basis-9#{$suffix} { flex-basis: 75% }
    .basis-10#{$suffix} { flex-basis: 83.3333333333% }
    .basis-11#{$suffix} { flex-basis: 91.6666666666% }
    .basis-12#{$suffix} { flex-basis: 100% }

    .basis-100vw#{$suffix} { flex-basis: 100vw }
    .basis-100vh#{$suffix} { flex-basis: 100vh }
    .basis-100vmax#{$suffix} { flex-basis: 100vmax }
    .basis-100vmin#{$suffix} { flex-basis: 100vmin }

    .basis-content#{$suffix} { flex-basis: content }
    .basis-auto#{$suffix} { flex-basis: auto }

    .two-col#{$suffix} {
        > div,
        > li {
            margin-right: $gutter;
            width: calc(50% - #{$gutter});

            &:nth-child(4n) {
                margin-right: $gutter;
            }

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }

    .four-col#{$suffix} {
        > div,
        > li {
            margin-right: $gutter;
            width: calc(25% - #{$gutter});
            &:nth-child(4n + 2) {
                margin-right: $gutter;
            }

            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }

    .three-col#{$suffix} {
        > div,
        > li {
            margin-right: $gutter;
            width: calc((100% / 3) - #{$gutter});

            &:nth-child(2n) {
                margin-right: $gutter;
            }

            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}

@include flex-grid;

@each $breakpoint-name, $breakpoint-value in $breakpoints {
    @media #{$breakpoint-value} {
        @include flex-grid('-#{$breakpoint-name}');
    }
}