// Hard rules

.hard-visible {
    overflow: visible !important;

    @each $breakpoint, $breakpoint-value in $breakpoints {
        @media #{$breakpoint-value} {
            &-#{$breakpoint} {
                overflow: visible !important;
            }
        }
    }
}

.hard-height-auto {
    height: auto !important;

    @each $breakpoint, $breakpoint-value in $breakpoints {
        @media #{$breakpoint-value} {
            &-#{$breakpoint} {
                height: auto !important;
            }
        }
    }
}